name: Java Caso#3 Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-analyze:
    name: Build and Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Dar permisos a Gradle Wrapper
        run: chmod +x ./gradlew

      - name: Build, Test y Análisis SonarQube
        env:
          # Token de GitHub
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Token de Sonar
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew build sonar --info --no-daemon

      - name: Notificar resultado
        if: success()
        run: echo "✅ Build, pruebas unitarias y análisis de Sonar completados exitosamente"