name: Java Caso#3 Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Dar permisos a Gradle Wrapper
        run: chmod +x ./gradlew

      - name: Ejecutar build
        run: ./gradlew build --no-daemon

      - name: Ejecutar tests
        run: ./gradlew test --no-daemon

      - name: SonarQube Analysis
        env:
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
          SONAR_HOST_URL: ${{secrets.SONAR_HOST_URL}}
        run: ./gradlew sonar --info --warning-mode

      - name: Notificar resultado
        if: success()
        run: echo "✅ Build y tests ejecutados exitosamente"
